{% extends 'mainapp/base.html' %}
{% load mail_to %}


{% block menu %}
<div class="hero">
    <div class="header clearfix">
        {% include 'mainapp/includes/inc_menu.html' %}
    </div>
    <h1>наши контакты</h1>
    <p>сегодня: {{ visit_date|date:"l, j F, Y" }}</p>
</div>
{% endblock %}

{% block content %}
<div class="location">
    {% for location in locations %}
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>{{ location.city }}</h4>
        <div class="contacts">
            <h5>Телефон</h5>
            <p>{{ location.phone }}</p>
            <a href=" https://russianblogs.com/article/23541847967/"> Link </a>
            <a href=" https://www.youtube.com/watch?v=AQoW1eZzPLQ"> Link1 </a>
            <a href=" https://deephost.pw/"> Link2 </a>
            <a href=" https://github.com/"> Link3 </a>
            <a href=" https://www.pandoge.com/post/730"> Link4 </a>
            <a href=" https://pypi.org/project/instagram-basic-display/"> Link5 </a>
            <a href=" https://html5css.ru/html/html_links.php "> Link6 </a>
            <a href=" https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiXmq_Omub5AhWjmIsKHcd6CNEQFnoECA4QAQ&url=https%3A%2F%2Ftime100.ru%2F&usg=AOvVaw0gCnJXYS__FmnE_vj5x6sx"> Link7 </a>
        </div>
        <div class="contacts">
            <h5>Email</h5>
            <p>{{ location.email|mail_to }}</p>
        </div>
        <div class="contacts">
            <h5>Адрес</h5>
            <p>{{ location.address }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="clr"></div>
{% endblock %}